@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #505962;
}

h6 {
  text-align: left;
  margin-top: 2rem;
  font-weight: 700;
}

.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
}

.navbar-brand img {
  height: 2rem;
  padding-right: .5rem;
}

.navbar-nav li {
  padding-right: .7rem;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
  color: #843284
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  top: 15%;
}

.form {
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 5%;
}

.table {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.coinjar_caption {
  text-transform: uppercase;
  text-align: center;
  margin-top: 2rem;

}

.radio {
  margin-left: 10%;
  margin-right: 10%;
}
