{% from 'form_helper.html' import displayField %}
{% extends "pre-login.html" %}

{% block title %}Register{% endblock %}

{% block content %}
  <h2>Register</h2>

  <form action="{{ url_for('register')}}" method="POST">
    {{ displayField(form.firstname, 'First Name', autocomplete="off",
          autofocus=true)}}
    {{ displayField(form.lastname, 'Last Name', autocomplete="off",
          autofocus=true)}}
    {{ displayField(form.role, 'Role')}}
    {{ displayField(form.password, 'Password')}}
    {{ displayField(form.confirm_pswd, 'Retype Password')}}
    <div>
      {{ form.submit_button }}
    </div>
    {{ form.csrf_token }}
  </form>

{% endblock %}
