{% extends "layout.html" %}

{% block title %}Coin Jar{% endblock %}

{% block content %}
  <div class="caption">
    <h2>Your Coin Jar</h2>
    <h4>You have <b>{{ current_user.coins|length }}</b> Coins</h4>
  </div>
  {% if transactions|length != 0 %}
  <table class="table table-sm table-bordered table-responsiv-md">
    <thead>
      <tr>
        <th colspan="4" class='text-center'>Transaction Details</th>
      </tr>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Teacher</th>
        <th scope="col">Timestamp</th>
        <th scope="col">Awarded/Deducted</th>
      </tr>
    </thead>
    <tbody>
        {% for i in range(0, length) %}
          <tr>
            <th scope="row">{{ i }}</th>
            <td>{{ teachers[i].username }}</td>
            <td>{{ transactions[i].timestamp.strftime('%Y-%m-%d') }}</td>
            <td>{{ types[i] }}</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
  {% endif %}

{% endblock %}
