{% from 'form_helper.html' import displayField %}
{% extends "layout.html" %}

{% block title %}Register{% endblock %}

{% block content %}
  <div class="caption">
    <h2>Register</h2>
  </div>
  <div class="form col-4">
    <form action="{{ url_for('auth.register')}}" method="POST">
      {{ displayField(form.firstname, 'First Name', autocomplete="off",
            autofocus=true)}}
      {{ displayField(form.lastname, 'Last Name', autocomplete="off",
            autofocus=true)}}
      {{ displayField(form.username, 'Username', autocomplete="off",
            autofocus=true)}}
      {{ displayField(form.password, 'Password')}}
      {{ displayField(form.confirm_pswd, 'Re-type Password')}}
      <div class="control_group">
          {% for subfield in form.role %}
          <label class="radio">
            {{ subfield }}
            {{ subfield.label}}
          </label>
          {% endfor %}
      </div>
      <div>
          {{ form.submit_button }}
      </div>
      {{ form.csrf_token }}
    </form>
  </div>

{% endblock %}
