{% from 'form_helper.html' import displayField %}
{% extends "layout.html" %}

{% block title %}Award Student{% endblock %}

{% block content %}
  <div class="caption">
    <h2>Award Student</h2>
  </div>
  <div class="form col-4">
    <form action="{{ url_for('main.sendCoin')}}" method="POST">
      <div class="form-group control_group">
        <h6>Select Student:</h6>
        {{form.recipient}}
      </div>
      <div class="control_group">
          <h6>Choose Attitude To Learning Number: </h6>
          {% for subfield in form.attitudeNum %}
          <label class="radio">
            {{ subfield }}
            {{ subfield.label}}
          </label>
          {% endfor %}
      </div>
      <div>
        {{ form.submit_button }}
      </div>
      {{ form.csrf_token }}
    </form>
  </div>
{% endblock %}
